/*==========================
		    SHARED
==========================*/

.link
{
    color: var(--dark-green);
}

.spacing
{
    margin-top: 12px;
}

.image
{
    margin-bottom: 20px;
}

.login-register-form
{
    
	display: flex;
	flex-direction: column;
	background-color: var(--dark-blue);
	padding: 2em;
	box-shadow: 10px 8px 10pt 2pt rgba(0,0,0,0.4);
	border-radius: 20px;
    border: 5px solid var(--mint-green);
    width: 380px;
    margin: 10px;
}

.login-register-submit
{
	color: var(--off-white);
	background-color: var(--mint-green);
	font-size: 20px;
	font-weight: bold;
	padding: 12px;
	margin: 12px 0px;
	border-radius: 5px;
	border: 0px solid var(--off-white);
}

.login-register-button-big
{
    color: var(--off-white);
	background-color: var(--mint-green);
	font-size: 20px;
	font-weight: bold;
	padding: 24px;
	margin: 12px 0px;
	border-radius: 5px;
	border: 0px solid var(--mint-green);
}

/*==========================
		    REGISTER
==========================*/

.register-header
{
    color: var(--mint-green);
    font-size: 30px;
    font-weight: bold;
    margin: 12px;
}

.register-text
{
    color: var(--off-white);
    font-size: 30px;
    font-weight: bold;
    margin: 12px;
    margin-top: 24px;
}

.register-subtext
{
    color: var(--off-white);
    font-size: 20px;
    margin-bottom: 24px;
}

.register-back
{
    background-color: var(--error);
}

#register-dropdown
{
    text-align-last: center;
	color: rgba(0,0,0,0.65);
	font-size: 20px;
	padding: 12px;
	margin: 12px 0px;
	border-radius: 5px;
	background-color: var(--off-white);
	border: 0px solid var(--dark-blue);
}