.statistics-container
{
    width: 80%;
    margin: auto;
}

.statistics-grid
{
    height: 50vh;
    display: grid;
    grid-template-columns: 30% 70%;
}

.statistics-graph
{
    margin: 50px;
}

.statistics-error
{
    padding: 10px;
    font-size: 25px;
    color:red;
}

.statistics-content
{
    padding: 25px 25px 0px 25px;
    font-size: 50px;
    color: green;
    text-decoration: underline;
}

.graph-padding
{
    padding: 50px;
}

.statistics-header
{
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
}

.statistics-green
{
    color: green;
}

.statistics-red
{
    color: red;
}

.statistics-bar-text
{
    padding: 0px 10px 20px 10px;
    font-size: 20px;
}