#body
{
	line-height: 1.6em;
	margin: 0;
}

video
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    z-index: -1;
}

.login-register-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.input
{
	text-align: center;
	color: var(--input-text);
	font-size: 20px;
	padding: 12px;
	margin: 12px 0px;
	border-radius: 5px;
	background-color: var(--off-white);
	border: 0px solid var(--dark-blue);
}

.form-text
{
	color: var(--off-white);
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	padding: 8px;
}

.form-error-text
{
	background-color: var(--off-white);
	border-radius: 5px;
	text-align: center;
	color: var(--error);
	word-wrap: break-word;
}